// Navigation code here
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 90%;
  margin-bottom: 40px;

  h1 {
    .heading(rgb(244, 243, 244), center, 50px, 20px);
  }

  ul {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 243, 244);
    height: 60px;
    align-items: center;

    li {
      font-size: 16px;
      margin: 20px;
    }
  }
}
